/* Variables */
* {
    box-sizing: border-box;
}

/*body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}*/

#payment-form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    /* box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%); */
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif !important;
    /* border: solid 1px #eee; */
    background-color: #f7f4f4;
    padding-bottom: 10px;
}
.ElementsApp, .ElementsApp .InputElement {
    font-family: "Poppins", sans-serif !important;
}
/*input {
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    font-size: 16px;
    width: 100%;
    background: white;
}*/
.stipebtn:focus{
    outline:none !important;
}
.result-message {
    line-height: 22px;
    font-size: 16px;
    font-family: "Poppins", sans-serif !important;
}

    .result-message a {
        color: rgb(89, 111, 214);
        font-weight: 600;
        text-decoration: none;
        font-family: "Poppins", sans-serif !important;
    }

.hidden {
    display: none;
}

#card-error {
    color: red;
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    font-weight:500;
    margin-top: 12px;
    font-family: "Poppins", sans-serif !important;
}

#card-element {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    width: 100%;
    background: white;
    font-family: "Poppins", sans-serif !important;
}

#payment-request-button {
    margin-bottom: 32px;
}

/* Buttons and links */
.stipebtn {
    background: #443266;
    color: #ffffff;
    font-family: "Poppins", sans-serif !important;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    margin-top: 5%;
}

    .stipebtn:hover {
        filter: contrast(115%);
    }

    .stipebtn:disabled {
        opacity: 0.5;
        cursor: default;
    }

/* spinner/processing state, errors */
.spinnerLoader,
.spinnerLoader:before,
.spinnerLoader:after {
    border-radius: 50%;
}

.spinnerLoader {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .spinnerLoader:before,
    .spinnerLoader:after {
        position: absolute;
        content: "";
    }

    .spinnerLoader:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }

    .spinnerLoader:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    #payment-form {
        width: 80vw;
    }
}


.example.example2 {
    background-color: #fff;
}

    .example.example2 * {
        font-family: Source Code Pro, Consolas, Menlo, monospace;
        font-size: 16px;
        font-weight: 500;
    }

    .example.example2 .row {
        display: -ms-flexbox;
        display: flex;
        margin: 0 5px 10px;
    }

    .example.example2 .field {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 0 10px;
    }

        .example.example2 .field.half-width {
            width: 50%;
        }

        .example.example2 .field.quarter-width {
            width: calc(25% - 10px);
        }

    .example.example2 .baseline {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: #cfd7df;
        transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 label {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 8px;
        color: #cfd7df;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform-origin: 0 50%;
        cursor: text;
        pointer-events: none;
        transition-property: color, transform;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .example.example2 .input {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 7px;
        color: #32325d;
        background-color: transparent;
    }

        .example.example2 .input::-webkit-input-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input::-moz-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input:-ms-input-placeholder {
            color: transparent;
            transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .example.example2 .input.StripeElement {
            opacity: 0;
            transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            will-change: opacity;
        }

        .example.example2 .input.focused,
        .example.example2 .input:not(.empty) {
            opacity: 1;
        }

            .example.example2 .input.focused::-webkit-input-placeholder,
            .example.example2 .input:not(.empty)::-webkit-input-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused::-moz-placeholder,
            .example.example2 .input:not(.empty)::-moz-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused:-ms-input-placeholder,
            .example.example2 .input:not(.empty):-ms-input-placeholder {
                color: #cfd7df;
            }

            .example.example2 .input.focused + label,
            .example.example2 .input:not(.empty) + label {
                color: #aab7c4;
                transform: scale(0.85) translateY(-25px);
                cursor: default;
            }

            .example.example2 .input.focused + label {
                color: #24b47e;
            }

        .example.example2 .input.invalid + label {
            color: #ffa27b;
        }

        .example.example2 .input.focused + label + .baseline {
            background-color: #24b47e;
        }

        .example.example2 .input.focused.invalid + label + .baseline {
            background-color: #e25950;
        }

    .example.example2 input, .example.example2 button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border-style: none;
    }

        .example.example2 input:-webkit-autofill {
            -webkit-text-fill-color: #e39f48;
            transition: background-color 100000000s;
            -webkit-animation: 1ms void-animation-out;
        }

    .example.example2 .StripeElement--webkit-autofill {
        background: transparent !important;
    }

    .example.example2 input, .example.example2 button {
        -webkit-animation: 1ms void-animation-out;
    }

    .example.example2 button {
        display: block;
        width: calc(100% - 30px);
        height: 40px;
        margin: 40px 15px 0;
        background-color: #24b47e;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    .example.example2 .error svg {
        margin-top: 0 !important;
    }

        .example.example2 .error svg .base {
            fill: #e25950;
        }

        .example.example2 .error svg .glyph {
            fill: #fff;
        }

    .example.example2 .error .message {
        color: #e25950;
    }

    .example.example2 .success .icon .border {
        stroke: #abe9d2;
    }

    .example.example2 .success .icon .checkmark {
        stroke: #24b47e;
    }

    .example.example2 .success .title {
        color: #32325d;
        font-size: 16px !important;
    }

    .example.example2 .success .message {
        color: #8898aa;
        font-size: 13px !important;
    }

    .example.example2 .success .reset path {
        fill: #24b47e;
    }